sphinx==2.3.1
sphinx_bootstrap_theme==0.6.5  # Later versions mess up the css somehow
numpydoc
nbconvert
ipykernel
matplotlib
git+https://github.com/Keris/yasc.git  # We need yasc when using nb_to_doc.py